page-onboarding {
    .background {
        //background-image: url('../assets/pict/welcome.png');
        background-color: #5B6ABF;
        background-repeat: no-repeat;
        background-size: cover;
    }

    ion-slides {
        display: block;
        width: 100%;
        // height: 90vh;
    }

    .swiper-pagination-bullet-active{
        background: white;
        opacity: 1;
    }

    .logoDiv{
        position: absolute;
        top: 5vh;

        width: 100%;

        // background-color: red;
    }

    .LogoMuser {
        width:50vw; /* you can use % */
        height: auto;

        display: block;
        margin: auto;
    }

    .LogoMuser2 {
        width:50vw; /* you can use % */
        height: auto;
        
    }

    .GambarSplash {
        width:65vw; /* you can use % */
        height: auto;

        margin: auto;
        margin-bottom: 10vh;
    }

    .GambarSplashMaskot {
        width:60vw; /* you can use % */
        height: auto;

        margin: auto;
        margin-bottom: 10vh;
    }


    img {
        position: relative;
        
    }

    .ButtonWordWhite {
        font-size: 6vw;
        font-weight: 2px;
        color: white;
        text-transform: capitalize;
    }

    .ButtonWordPurple {
        font-size: 6vw;
        font-weight: 2px;
        color: $cssPurpleDark;
        text-transform: capitalize;
    }

    .ButtonWordBlack {
        font-size: 6vw;
        font-weight: 2px;
        color: #2A3524;
        text-transform: capitalize;
    }
    
    .ButtonLogin {
        height: 14vw !important;
        // // width: 50vw;
        // margin: auto;
        // margin-top: 5vh;
    }

    .textDiv{
        width: 100%;

        position: absolute;
        bottom: 10vh;
    }

    .textPosition{
        width: 90%;
        
        display: block;
        margin: auto;
    }

    .headText{
        position: relative;
        // bottom: 5px;
        color: white;
        font-weight: 500;
        font-size: 6vw;
        
    }

    .contentText { 
        color: white;
        font-size: 5vw;
    }

    .gridDiv{
        width: 100%;

        position: absolute;
        bottom: 10vh;
    }

}
