page-edit-profile {
    .wordNavbar{
        color: #f4f4f4;
        font-size: 7vw;
        font-weight: 700;
        font-style: italic;
    }

    .background {
        //background-image: url('../assets/pict/welcome.png');
        background-color: rgb(47, 151, 236);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .Head {
        font-size: 5vw;
        color: white;
    }

    .Head2 {
        font-size: 5vw;
        color: white;
    }

    .item-md {
        background-color: rgba(0, 0, 0, 0);
    }

    .text-input::-moz-placeholder {
        color: white;
        font-size: 5vw;
      }
      
      .text-input:-ms-input-placeholder {
        color: white;
        font-size: 5vw;
      }
      
      .text-input::-webkit-input-placeholder {
        color: white;
        font-size: 5vw;
      }
}
