page-invitation {
    .background {
        //background-image: url('../assets/pict/welcome.png');
        background-color: rgb(47, 151, 236);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wordNavbar{
        color: #f4f4f4;
        font-size: 7vw;
        font-weight: 700;

        font-style: italic;
    }

    //card
    .card{
        // border-top: 1px solid rgba(0,0,0,0.2);
        padding: 1vh 0vw 1vh 2vw;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    .pict{
        width: 16vw;
        height: 16vw;
        border-radius: 100%;
    }

    .sender{
        padding: 1vh 2vw 0vh 2vw;
        font-size: 5vw;
        font-weight: 500;
        color: $dark;
    }
    .content{
        padding: 0vh 2vw 0vh 2vw;
        font-size: 4vw;
        // font-weight: 500;
        color: $dark;
    }
    .date{
        font-size: 3vw;
        color: $dark;
    }
}
