<ion-header>
  <ion-navbar color="sisuperPurpleDark">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
    <ion-title text-right><span class="wordNavbar">Undangan</span></ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div id="SearchBar">
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Cari undangan..."></ion-searchbar>
  </div>

  <div [hidden]="search == false">
    <div class="card" (click)="gotoDetail()" *ngFor="let invitation of list_search">
      <ion-row no-padding>
        <ion-col col-2 no-padding text-center>
          <img alt="Gambar Rusak" class="pict" src="assets/pict/event.jpg"/>
        </ion-col>
        <ion-col col-8 no-padding>
          <div class="sender">
            {{invitation.oleh_undangan}}
          </div>
          <div class="content">
            {{invitation.nama_undangan}}
          </div>
        </ion-col>
        <ion-col col-2 no-padding>
          <div class="date">
            {{invitation.tanggal_undangan}}
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div [hidden]="search == true">
    <div class="card" (click)="gotoDetail(invitation)" *ngFor="let invitation of invitations">
      <ion-row no-padding>
        <ion-col col-2 no-padding text-center>
          <img alt="Gambar Rusak" class="pict" src="assets/pict/event.jpg"/>
        </ion-col>
        <ion-col col-8 no-padding>
          <div class="sender">
            {{invitation.oleh_undangan}}
          </div>
          <div class="content">
            {{invitation.nama_undangan}}
          </div>
        </ion-col>
        <ion-col col-2 no-padding>
          <div class="date">
            {{invitation.tanggal_undangan}}
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
