page-price-edit {
    .Title{
        color: #f4f4f4;
        font-size: 6vw;
        font-weight: 700;
    }
    .invisibleButton {
        height:10px;
        width:60px;
    }

    .Content{
        font-size: 5vw;
        font-weight: 500;
    }

    .ButtonMasuk {
        height: 14vw !important;
        width: 80vw;
        margin: auto;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .ButtonWord {
        font-size: 6vw;
        font-weight: 2px;
        color: white;
        text-transform: capitalize;
    }

    
}
