<ion-header>
  <ion-navbar color="sisuperPurpleDark">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
    <ion-title text-right><span class="wordNavbar">Profil</span></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="photoprofile">
    <ion-icon name="camera" class="editIcon"></ion-icon>
    <img src="assets/imgs/logo.png" *ngIf="!image" class="Pict"/>
  </div>
  <img [src]="image" *ngIf="image"/>  
  <ion-item padding-right text-wrap>
    <p class="Nama">Namaku</p>
  </ion-item>
  <ion-item padding-right text-wrap>
    <p class="Head">Email</p>
    <p class="Konten">Emailku</p>
  </ion-item>
  <ion-item padding-right text-wrap>
    <p class="Head">Nomor Telepon</p>
    <p class="Konten">HPku</p>
  </ion-item>
  <ion-item padding-right text-wrap>
    <p class="Head">Alamat</p>
    <p class="Konten">Alamatku</p>
  </ion-item>
  <ion-item padding-right text-wrap>
    <p class="Head">Sertifikat</p>
    <ion-list>
      <ion-item>
        <p class="Konten">Sertifikat 1</p>
        <img src="assets/imgs/logo.png" *ngIf="!image"/>
      </ion-item>
      <ion-item>
          <p class="Konten">Sertifikat 1</p>
          <img src="assets/imgs/logo.png" *ngIf="!image"/>
        </ion-item>
    </ion-list>
  </ion-item>
  <ion-item padding-left-right>
    <button class='Button' color="sisuperPurpleDark" ion-button block (click)='tambahsertifikat()'><p class="ButtonWordWhite">Tambah Sertifikat</p></button>
    <button class='Button' color="sisuperPurpleDark" ion-button block (click)='editProfil()'><p class="ButtonWordWhite">Sunting Profil</p></button>
    <button class='Button' color="danger" ion-button outline block (click)='logOut()'><p class="ButtonWordBlack">Keluar Akun</p></button>
  </ion-item>
</ion-content>
