<ion-header>
  <ion-navbar color="sisuperPurpleDark">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
    <ion-title text-right><span class="wordNavbar">Profil</span></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="photoprofile">
    <ion-icon name="camera" class="editIcon"></ion-icon>
    <img [src]="image" *ngIf="image" class="Pict"/>
    <img src="assets/pict/profil.png" *ngIf="!image" class="Pict"/>
  </div>
  <img [src]="image" *ngIf="image"/>  
  <ion-item padding-right text-wrap>
    <p class="Nama">{{nama}}</p>
  </ion-item>
  <ion-item padding-right text-wrap>
    <p class="Head">Email</p>
    <p class="Konten">{{email}}</p>
  </ion-item>
  <ion-item padding-right text-wrap>
    <p class="Head">Nomor Telepon</p>
    <p class="Konten">{{nomor}}</p>
  </ion-item>
  <ion-item padding-right text-wrap>
    <p class="Head">Alamat</p>
    <p class="Konten">{{alamat}}</p>
  </ion-item>
  <ion-item padding-right text-wrap>
    <p class="Head">Sertifikat</p>
    <ion-list>
      <ion-item>
        <p class="Konten">Sertifikat Kepemimpinan</p>
        <img src="assets/pict/sertifikatLeadership.jpg"/>
      </ion-item>
      <ion-item>
          <p class="Konten">Sertifikat Wirausahawan</p>
          <img src="assets/pict/sertifikatEntrepreneurship.jpg"/>
        </ion-item>
    </ion-list>
  </ion-item>
  <ion-item padding-left-right>
    <button class='Button' color="sisuperPurpleDark" ion-button block (click)='tambahsertifikat()'><p class="ButtonWordWhite"><ion-icon name="md-list-box"></ion-icon> &nbsp; Tambah Sertifikat</p></button>

    <img [src]="image" *ngIf="image" class="PictSertifikat" (click)="updatePicture()"/>

    <button class='Button' color="sisuperPurpleDark" ion-button block (click)='editProfil()'><p class="ButtonWordWhite"><ion-icon name="md-create"></ion-icon> &nbsp;Sunting Profil</p></button>
    <button class='Button' color="danger" ion-button outline block (click)='logOut()'><p class="ButtonWordBlack">Keluar Akun</p></button>
  </ion-item>
</ion-content>
