page-price {
    .background {
        //background-image: url('../assets/pict/welcome.png');
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wordNavbar{
        color: #f4f4f4;
        font-size: 7vw;
        font-weight: 700;

        font-style: italic;
    }


    .ButtonBig {
        margin: auto;
        width: 90%;
        height: 14vw !important;
        // border: 2px solid rgba(255,255,255,0.7);
        margin-bottom: 2.5vh;
    }

    //pricecard
    .priceCard{
        background-color: $cssPurpleLight;
        // border: 2px solid $e;
        padding: 2.5vw;
        margin: 2vh 0;
    }

    .name{
        font-size: 4.5vw;
        font-weight: 500;
        color: $dark;
    }

    .priceRed{
        margin-top: 2vw;
        font-size: 4vw;
        font-weight: 500;
        color: #b5292a;
    }

    .priceGreen{
        margin-top: 2vw;
        font-size: 4vw;
        font-weight: 500;
        color: #249d58;
    }

}
