page-list-usaha {
    .head{
        text-align: center;
        color: white;
    }

    .navbackground{
        background-color: #25408E;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .background {
        //background-image: url('../assets/pict/welcome.png');
        background-color: #5B6ABF;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .button{
        background-color: white;
        width: 100%;
        height: 14vh;
        border: solid 5px $cssPurpleDark;
    }

    .icon{
        font-size: 10vw;
        padding-top: 1vh;
    }

    .text{
        padding-bottom: 1vh;
    }

}